/**
 * CSS animations
 * Usage: https://www.w3schools.com/cssref/css3_pr_animation.asp
 */

/**
 * DEPRECATION WARNING!
 * This file is deprecated and will be removed
 * in the future. Please use the files in /src.
 * No further updates will be made to this file.
 */

/* Rotation */
@-moz-keyframes rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
