/* LAYOUT */

/**
 * DEPRECATION WARNING!
 * This file is deprecated and will be removed
 * in the future. Please use the files in /src.
 * No further updates will be made to this file.
 */

body {
  /* Spacing */
  --aiwizo-application-spacing-mini: 4px;
  --aiwizo-application-spacing-small: 8px;
  --aiwizo-application-spacing-regular: 16px;
  --aiwizo-application-spacing-medium: 32px;
  --aiwizo-application-spacing-large: 64px;

  /* Radius */
  --aiwizo-application-border-radius-primary: 3px;
}
