
/**
 * DEPRECATION WARNING!
 * This file is deprecated and will be removed
 * in the future. Please use the files in /src.
 * No further updates will be made to this file.
 */
 
html,
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
