/* COLORS */

body {
  --aiwizo-application-blue: #51aded;
  --aiwizo-application-blue-dark: #259ced;

  --aiwizo-application-grey: #536270;
  --aiwizo-application-grey-dark: #4d5863;

  --aiwizo-application-red: #ed5153;
  --aiwizo-application-red-dark: #e0393c;

  --aiwizo-application-green: #23ce6b;
  --aiwizo-application-green-dark: #1ec262;

  --aiwizo-application-white: #ffffff;
  --aiwizo-application-black: #000000;

  --aiwizo-application-purple: #201c35;
  --aiwizo-application-purple-dark: #181528;

  /* Backgrounds */
  --aiwizo-application-light-background-blue: #e6f5fd;
  --aiwizo-application-light-background-grey: #f3f5f6;
  --aiwizo-application-light-background-red: #fff3f3;

  /* Borders */
  --aiwizo-application-primary-border-blue: var(--aiwizo-application-blue);
  --aiwizo-application-secondary-border-blue: #cfecfd;

  --aiwizo-application-primary-border-grey: #e8eaec;

  /* Text colors */
  --aiwizo-application-faded-text-grey: #a2acb3;
  --aiwizo-application-faded-text-white: #ffffff55;
}
